.container {
  background-color: darkcyan;
  margin-top: 39%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.socialmedia {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
