.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 10px;
}

.allrights {
  color: rgb(146, 144, 144);
  font-size: 12px;
  margin-right: 18rem;
}

.socialmedia {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
